@import "tailwindcss";

@theme {
  --color-dark-blue: #312E81;
  --color-light-gray: #64748B;
  --color-very-light-gray: #64748B9F;
  --color-field-color: #F3F4F6;
  --color-accent: #4F46E5;
  --color-cyan-color: #189EA0;
  --color-default-text-color: #0f172a;
  --color-divider-color: #E5E7EB;
  --color-selected-color: #E0E7FF;
  --color-footer-color: #222222;
  --color-on-footer-color: #979797;
  --color-on-footer-accent-color: #cccccc;
  --color-error-color: #6a1a21;
  --color-title-color: #2e346f;
  --color-input-color: #f1f1f1;
  --color-creating-lable-color: #2E346F;
  --color-start-grade-color: #4f46e5;
  --color-end-grade-color: #189ea0;
  --color-creating-input-color: #f9fcfc;

  --font-montserrat: "Montserrat", sans-serif;
}

@layer base {
  body {
    @apply font-montserrat text-default-text-color;
  }
}